@import "../../Scss/Variables.scss";
@import "../../Scss/Mixin.scss";
.content-page {
  max-width: 1120px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  .block {
    width: 40%;
  }
  .block:first-of-type {
    width: 60%;
    .detail-block {
      display: flex;
      justify-content: space-between;
    }
    ul {
      list-style: none;
      padding-left: 0;
      li {
        &:before {
          content: "\f260";
          font-family: "FontAweSome";
          color: $pink;
          padding-right: 20px;
        }
      }
    }
  }
}
