@import "../../Scss/Variables.scss";
@import "../../Scss/Mixin.scss";

.signUpForm {
  max-width: 600px;
  width: 100%;
  margin: auto;
  background-color: white;
  padding: 20px;
  h4 {
    margin: $mg-3 0;
    color: $pink;
    font-size: 3rem;
    text-transform: uppercase;
  }
  .signUpForm__content {
    margin-top: $mg-2;
    input {
      border-radius: 0;
      font-size: 1.6rem;
      height: 40px;
      &:focus {
        border: 1px solid $black-1;
      }
    }
    .signUp__Button {
      button {
        height: 40px;
        font-size: 1.6rem;
        border-radius: 0;
        background-color: $black-1;
        border: 1px solid transparent;
        color: $white;
      }
    }
  }
}
.moveSignIn {
  text-align: center;
  span {
    margin-right: 10px;
  }
  .btn-sign {
    color: $pink;
  }
}
