@import "../../Scss/Variables.scss";
@import "../../Scss/Mixin.scss";
.instructor {
  margin-bottom: $mg-3 * 3;
  position: relative;
  .grey__background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    left: 0;
    height: 70%;
    background-color: $grey-1;
    width: 100%;
  }
}
.main__instructor {
  .instructor-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .img__instructor {
      max-width: 400px;
      width: 100%;
      img {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
          0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
      }
    }
    .instructor__content {
      padding-left: 20px;
      text-align: center;
      margin: auto;
      .text {
        max-width: 450px;
        width: 100%;
        font-size: 1.6rem;
        margin: 20px 0;
      }
      h3{
        font-size: 3rem;
        text-transform: uppercase;
        color: $pink;
      }
      .button-start {
        display: inline-block;
        padding: 15px;
        color: white;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.8rem;
        &:before {
          background-color: black;
        }
        &:after {
          background-color: $pink;
          z-index: -1;
        }
        &:hover {
          background-color: transparent;
          &:before {
            width: 0;
          }
          &:after {
            width: 100%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .instructor {
    .grey__background {
      height: 90%;
    }
  }
  .main__instructor {
    .instructor-content {
      flex-wrap: wrap;
      .img__instructor,
      .instructor__content {
        margin: 5px auto;
        width: 100%;
      }
    }
  }
}
