@import "../../Scss/Variables.scss";
@import "../../Scss/Mixin.scss";
.upskill {
    margin: $mg-3 * 3 auto !important;
    .skill__spread {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        .content {
            width: 50%;
            img {
                width: 100%;
                max-width: 600px;
                margin: auto;
                height: unset;
            }
            .top {
                color: $pink;
                text-transform: uppercase;
                font-size: 25px;
            }
            ul {
                list-style: none;
                li {
                    margin: 10px 0;
                    &:before {
                        content: "\f0e7";
                        font-family: "FontAwesome";
                        color: $pink;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .upskill {
        .skill__spread {
            .content {
                width: 100%;
            }
        }
    }
}
