@import "../../Scss/Variables.scss";
@import "../../Scss/Mixin.scss";

.topContentAbout {
  height: 800px;
  background-image: url("../../img/background-img-about.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  .layer {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .aboutTop {
    position: absolute;
    top: 25%;
    left: 45%;
    transform: translate(-50%);
    z-index: 1;
    .content {
      .title {
        @include text($fs-6 + $fs-2, $fw-3, $white);
        text-transform: uppercase;
        span {
          color: $pink;
        }
      }
      .details__content {
        @include text($fs-2, $fw-2, $grey-1);
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .details__content {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .topContentAbout {
    height: 500px;
    .aboutTop {
      top: 20%;
      .content {
        .title {
          font-size: 70px;
        }
      }
    }
  }
}
@media screen and (max-width: 540px) {
  .topContentAbout {
    .aboutTop {
      left: 55%;
      .content {
        .title {
          font-size: 40px;
        }
      }
    }
  }
}
