@import "../../Scss/Variables.scss";
@import "../../Scss/Mixin.scss";
.title-categories {
  text-align: center;
  color: $pink;
  font-size: 32px;
}
.categories-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 0 100px 0;
  .categories__content {
    transition: $eo;
    width: 24%;
    max-width: 266.8px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.225);
    margin-top: 20px;
    .card__img {
      width: 100%;
      img {
        width: 100%;
        height: unset !important;
      }
    }
    .card-categories {
      max-width: 266.8px;
      width: 100%;
    }
    .card-body-categories {
      .card-title-categories {
        color: $black;
        margin-bottom: 0;
        padding: 25px 0 25px 15px;
        font-size: 19px;
        position: relative;
        transition: 0.5s ease-in-out;
        &:before {
          transition: $eo;
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          width: 0%;
          height: 5px;
          background-image: linear-gradient(to right, $pink, white);
        }
      }
    }
    &:hover {
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
      .card-body-categories {
        .card-title-categories {
          color: $pink;
          &:before {
            width: 100%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .categories-content {
    .categories__content {
      width: 32%;
    }
  }
}
