@import "../../Scss/Variables.scss";
@import "../../Scss/Mixin.scss";
.information {
    .information-content {
        padding: 30px 0;
        max-width: 1120px;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .top__info {
            padding: 10px;
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            h2.title {
                color: $pink;
                font-size: 3rem;
            }
        }
        .bot__info {
            width: 60%;
            .bot-card-content {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .info-card {
                    padding: 10px;
                    width: 50%;
                    h4.title {
                        color: $pink;
                        font-size: 2.2rem;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .information {
        .information-content {
            padding: 30px 20px;
            flex-wrap: wrap;
            .top__info,
            .bot__info {
                width: 100%;
                .bot-card-content {
                }
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .information {
        .information-content {
            .bot__info {
                .bot-card-content {
                    .info-card {
                        width: 100%;
                    }
                }
            }
        }
    }
}
