body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input, button {
  outline: unset!important;
  box-shadow: none!important;
}
input::placeholder{
  color: rgba(233, 233, 233, 0.8)!important;
  font-family: 'Manrope', sans-serif!important;
}
