@import "../../Scss/Variables.scss";
@import "../../Scss/Mixin.scss";
.footer {
  width: 100%;
  background-color: $black;
  padding: $pd-3 0;
  .footer-list {
    max-width: 1120px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    .title-footer {
      text-transform: uppercase;
      color: $pink;
    }
    .ul-list-footer {
      list-style: none;
      .link-footer {
        color: white;
        padding: 5px 0;
        display: block;
        transition: 0.5s ease-in-out;
        font-weight: 300;
        font-size: 14px;
        &:hover {
          color: $pink;
        }
      }
    }
  }
  .footer__content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    margin: 0;
    .logo {
      a {
        @include text($fs-5, $fw-3, $white);
        text-transform: uppercase;
        text-decoration: none;
        span {
          font-weight: $fw-1;
        }
        &:hover {
          transition: all 0.5s;
          color: $pink;
          span {
            color: $pink;
            transition: all 0.5s;
          }
        }
        .logo-footer {
          width: 200px;
        }
      }
    }
    .about {
      p {
        @include text($fs-1, $fw-1, $grey);
        margin-bottom: 0;
      }
      margin: auto 0;
    }
    .connect {
      margin: auto 0;
      a {
        margin: auto $mg-1;
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 46px;
        border-radius: 7px;
        text-align: center;
        text-decoration: none;
        background-color: black;
        i {
          color: white;
          font-size: $fs-2;
        }
        &:hover {
          .git__icon {
            color: #e65328;
            transition: all 0.5s;
          }
          .face__icon {
            color: #385898;
            transition: all 0.5s;
          }
          .twitter__icon {
            color: rgba(29, 161, 242, 1);
            transition: all 0.5s;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .footer {
    .footer-list {
      flex-wrap: wrap;
      .content {
        width: 50%;
      }
      .title-footer {
        font-size: 20px;
      }
    }
  }
}
